* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Add this CSS code to show/hide the menu and search elements */
.active {
    display: block !important;
}

.search-bar {
    display: none;
    /* Add your search bar styles here */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

header,
body {
    background: #D9F1FF;
}

head body {
    position: relative;
    width: 1440px;
    height: 4303px;

}

main {
    flex: 1;
}

footer {
    text-align: center;
    margin: 400px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container>div {
    width: 50%;
    height: 100px;
}

.container img {
    width: 100%;
    height: auto;
}


nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav-buttons {
    margin: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.nav-buttons button {
    margin-right: 10px;
}

.logo {
    margin: 10px 10px;
}

.nav_icons {
    display: flex;
    justify-content: end;
    margin-left: 250px;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.person .image,
.person .description {
    width: 50%;
}

.person img {
    margin-bottom: 50px;
}

.dany-description,
.fatma-description {
    right: 300px;
    width: 400px;
}

.person .description {
    padding-left: 100px;
    margin-left: 100px;
    width: 400px;
}

.person .ruth-description {
    position: absolute;
    top: 1420px;
}

.ruth-description {
    right: 300px;
    width: 400px;
}

.person .guled-description {
    position: absolute;
    width: 400px;
    padding-left: 100px;
    top: 2000px
}

.telesphore-description {
    position: absolute;
    right: 300px;
    width: 400px;
    top: 2600px;
}

.fatma-description {
    width: 400px;
    top: 3150px;
    margin-left: 100px;
}

.team-word {
    font-size: 50px;
    margin: 50px 70px;
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness: 3px;
}

.person4,
.person6 {
    margin: 100px 100px;

}

.person {

    border-bottom: 7px dashed grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.person:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.person3,
.person4,
.person5 {
    border-bottom: 7px dashed grey;
    padding-bottom: 400px;
    margin-bottom: 20px;
}

.person6 {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.booking {
    position: absolute;
    justify-content: center;
    background: #0f98e7;
}

.hor-container {
    position: absolute;
    display: flex;
    justify-content: space-around;

}

.terms-condition {
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.ready-to-book {
    position: absolute;
    width: 300px;
    text-align: end;

}

.social-media-icons {
    position: absolute;
    display: flex;
    left: 400px;
}

.social-media-margin {
    margin-left: 10px;
}

.info {
    position: absolute;
    display: flex;
    top: 200px;
}

.info1 {
    margin: 0px 10px;
}

.privacy {
    position: absolute;
    display: flex;
    top: 200px;
    left: 400px
}

a {
    color: rgb(2, 11, 20);
    background: rgb(84, 149, 165);
    text-decoration: none;

}

a:hover {
    color: rgb(236, 229, 241);
    background: rgb(39, 3, 87);
    /*text-decoration: underline;*/
}